==


<div class="header-homepage d-flex flex-column flex-sm-row align-items-center justify-content-around p-2">
	<div class="header-left h-100 d-flex justify-content-center align-items-center">
		<img src="{{ 'assets/images/logo.png'|theme }}">
	</div>
	<div class="header-right h-100 d-flex justify-content-center align-items-center flex-column">
		<div class="header-search w-100">
			<form class="d-flex position-relative" role="search">
		      <input class="w-100 input-search" type="search" placeholder="Áo khoác nam" aria-label="Search">
		      <button class="btn-search" type="submit">Search</button>
		    </form>
		</div>
		<div class="header-categories mt-2">
			saddaertet
		</div>
	</div>
</div>